*, *::before, *::after 
    box-sizing: border-box
    margin: 0
    padding: 0
    line-height: 1.2
    transition: opacity 0.3s ease-out
    font-family: 'VT323', monospace
    font-size: 1.2rem

a
    text-decoration: none
    color: black

body
    
h1, h2, h3, li, button
    text-transform: uppercase
    line-height: 1

h1, li
    display: inline-block

button
    background-color: rgba(255, 255, 255, 0)
    border: none
    cursor: pointer
    font-family: inherit
    position: relative
    cursor: pointer

    &::after 
        content: ''
        position: absolute
        display: block
        width: 100%
        background-color: black
        transform: scaleX(0)
        transition: all 0.5s ease

    &:hover::after 
        transform: scaleX(1)

.site-container
    position: relative
    width: 100%
    min-height: 100vh

.nav
    position: relative
    right: 0
    left: 0
    top: 0
    display: none
    align-items: center
    justify-content: center
    height: 4rem
    z-index: 2

    &__heading
        position: absolute
        font-size: 1.5rem
        left: 1rem

    &-menu
        display: inline-flex
        justify-content: space-between
        width: 20%

        &__item
            

        &__button
            position: relative
            font-size: 1.5rem

            &::after 
                height: 0.1rem

    &-icon
        position: absolute
        top: 0.5rem
        right: 0.5rem
        width: 24%
        text-align: right

        &__img
            width: 6rem
    

.container
    padding: 1rem
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    bottom: 0
    top: 0
    left: 0
    right: 0

.who
    opacity: 0
    z-index: 0  
    display: flex
    flex-flow: column
    // justify-content: space-evenly

    &-item
        width: 70%
        &__bio
    
    &-friends
        margin-top: 3rem
        // width: 50%

.choose
    opacity: 0
    z-index: 0
    display: none
    justify-content: center 
    align-items: center 
    margin-top: 0.5rem
    background-color: rgba(255, 255, 255, 0.7)

    &-menu
        display: flex
        justify-content: space-evenly
        width: 60%
        
        &__item

        &__button   
            font-size: 5rem

            &::after
                height: 0.2rem

.what
    opacity: 0
    z-index: 0

    &-listen
        opacity: 0
        z-index: 0
        display: none

        &__bandcamp
            margin: 1rem
            border: 0 
            width: 350px 
            height: 470px

    &-read
        opacity: 0
        z-index: 0
        margin-top: 2rem

    &-watch
        opacity: 0
        z-index: 0

        &__youtube
            border: none

.read-item
    width: 28%
    margin: 0 0.2rem

    &__heading
        position: sticky
        text-align: center
        margin-bottom: 0.8rem

.album
    overflow: scroll
    height: 60vh
    padding: 0.2rem
    border: 1px solid black

.song
    margin: 0.5rem 0

    &__title
        margin-bottom: 0.5rem
    
    &__p
        margin-bottom: 1rem

.when
    opacity: 0
    z-index: 0

.welcome 
    z-index: 2
    background-color: white

#welcome
    font-size: 5rem

@keyframes grow 
    0% 
        width: 0
        height: 0
    
    90% 
        width: 850px
        height: 850px
    
    100% 
        width: 800px
        height: 800px